.b-content{
    overflow:hidden;
    min-width: 980px;
}
.b-content__inner
{
    background: #fff;
    box-shadow: 0 0 0 3px #e9e9e9;
}
.b-content__body{
    padding: 0 40px 50px;
}
.b-content__sidebar{
    width: 300px;
    float:right;
}
.b-content__main{
    padding-right: 360px;
}
