.b-services-list
{
    padding: 50px 20px;
}
.b-services-list__title{
    padding: 0 20px 20px;
    color:#26a8c8;
    font-size: 30px;
    font-family: 'i-font_face_nova-bold';
}
.b-services-list__info{
    font-size: 15px;
    border-top: 1px solid #e5e5e5;
    padding-top: 5px;
    margin-top: 30px;
}
.b-services-list__info:before{
    content: 'Кстати.';
    color:#f56d12;
    display: inline;
    padding-right: 5px;
}
.b-services-list__body{
    padding: 0 10px;
}
