/* ../../libs/clever-bem-lib/b-page/b-page.css begin */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */

  width: auto\9;
  /* IE7-8 need help adjusting responsive images */

  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img,
.google-maps img {
  max-width: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
@media (max-width: 767px) {
  .b-page {
    padding-left: 20px;
    padding-right: 20px;
  }
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

/* ../../libs/clever-bem-lib/b-page/b-page.css end */
/* ../../blocks/b-page/b-page.css begin */
.b-page{
    background: #f3f3f3;
    font-size: 13px;
    color:#000;
    font-family: Arial, sans-serif;
}

/* ../../blocks/b-page/b-page.css end */
/* ../../blocks/i-clearfix/i-clearfix.css begin */
.i-clearfix:before,
.i-clearfix:after {
    content:"";
    display:table;
}
.i-clearfix:after {
    clear:both;
}
.i-clearfix {
    zoom:1; /* Хак для IE 6 и 7 */
}

/* ../../blocks/i-clearfix/i-clearfix.css end */
/* ../../blocks/b-container/b-container.css begin */
.b-container
{
    width: 980px;
    margin: 0 auto;
}

/* ../../blocks/b-container/b-container.css end */
/* ../../libs/clever-bem-lib/i-inline/i-inline.css begin */
.i-inline{
	display: inline;
	zoom:1;
	display: inline-block;
	vertical-align: top;
}
/* ../../libs/clever-bem-lib/i-inline/i-inline.css end */
/* ../../libs/bem-bl/blocks-desktop/b-icon/b-icon.css begin */
.b-icon
{
    font: 0/0 a;

    border: 0;

}

/* ../../libs/bem-bl/blocks-desktop/b-icon/b-icon.css end */
/* ../../blocks/i-font/_face/i-font_face_nova-bold.css begin */
@font-face {
    font-family: 'i-font_face_nova-bold';
    src: local('i-font_face_nova-bold');
    src: url("../../blocks/i-font/_face/i-font_face_nova-bold.woff"),
         url("../../blocks/i-font/_face/i-font_face_nova-bold.ttf");
}

.i-font_face_nova-bold
{
    font-family: 'i-font_face_nova-bold';
}

/* ../../blocks/i-font/_face/i-font_face_nova-bold.css end */
/* ../../libs/clever-bem-lib/i-vendor/__fancybox/i-vendor__fancybox.css begin */
/*! fancyBox v2.1.4 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("../../libs/clever-bem-lib/i-vendor/__fancybox/fancybox_sprite.png");
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url("../../libs/clever-bem-lib/i-vendor/__fancybox/fancybox_loading.gif") center center no-repeat;
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url("../../libs/clever-bem-lib/i-vendor/__fancybox/blank.gif"); /* helps IE */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url("../../libs/clever-bem-lib/i-vendor/__fancybox/fancybox_overlay.png");
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent; /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}
/* ../../libs/clever-bem-lib/i-vendor/__fancybox/i-vendor__fancybox.css end */
/* ../../blocks/b-header/b-header.css begin */
.b-header
{
    background:#032241;
    height: 100px;
    padding-top:20px;
    min-width: 980px;
    position: relative;
}
.b-header:after,
.b-header:before{
    content: '';
    position: absolute;
    z-index:0;
    top: 0;
    bottom: 0;
    right: 0;
}
.b-header:after{
    left: 0;
    min-width: 980px;
    background: url("../../images/design/header-bg.jpg") no-repeat top center;
}
.b-header:before{
    left:50%;
    background: #04152f;
}
.b-header__inner{
    position: relative;
    z-index:1;
    background: url("../../images/design/header.jpg") no-repeat top center;
    height: 100px;
}
.b-header__contact{
    float:left;
    padding: 25px 0 25px 40px;
}
.b-header__feedback-block{
    float:right;
    padding: 30px 40px;
    text-align: right;
}
.b-header__logo-block{
    padding: 0 300px;
}
.b-header__logo{
    display:block;
    height: 100px;
    position:relative;
}
.b-header__logo-image{
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 100px;
}
.b-header__phone{
    color:#fff;
    font-size: 24px;
}
.b-header__index{
    color:#26a8c8;
    padding-right:5px;
}
.b-header__contact-info{
    color:#fff;
    padding-top:3px;
}
.b-header__feedback{
    display:block;
    border:2px solid #26a8c8;
    line-height: 36px;
    padding: 0 15px;
    text-transform: uppercase;
    color:#fff;
    text-decoration: none;
    font-family: 'i-font_face_nova-bold';
}

/* ../../blocks/b-header/b-header.css end */
/* ../../blocks/b-content/b-content.css begin */
.b-content{
    overflow:hidden;
    min-width: 980px;
}
.b-content__inner
{
    background: #fff;
    box-shadow: 0 0 0 3px #e9e9e9;
}
.b-content__body{
    padding: 0 40px 50px;
}
.b-content__sidebar{
    width: 300px;
    float:right;
}
.b-content__main{
    padding-right: 360px;
}

/* ../../blocks/b-content/b-content.css end */
/* ../../blocks/b-services-list/b-services-list.css begin */
.b-services-list
{
    padding: 50px 20px;
}
.b-services-list__title{
    padding: 0 20px 20px;
    color:#26a8c8;
    font-size: 30px;
    font-family: 'i-font_face_nova-bold';
}
.b-services-list__info{
    font-size: 15px;
    border-top: 1px solid #e5e5e5;
    padding-top: 5px;
    margin-top: 30px;
}
.b-services-list__info:before{
    content: 'Кстати.';
    color:#f56d12;
    display: inline;
    padding-right: 5px;
}
.b-services-list__body{
    padding: 0 10px;
}

/* ../../blocks/b-services-list/b-services-list.css end */
/* ../../blocks/b-services/b-services.css begin */
.b-services
{
    width: 440px;
    height: 145px;
    margin: 10px 10px 30px;
    position: relative;
    z-index:0;
    font-size: 13px;
    color:#8c8c8c;
    line-height: 20px;
}
.b-services__inner{
    position:absolute;
    top: 0;
    left: -20px;
    right: 20px;
    padding:20px 20px 10px;
}
.b-services:hover{
    z-index:1;
}
.b-services:hover .b-services__inner{
    background: #f7fbfc;
    background: rgba(247, 251, 252, 0.9);
    box-shadow: 0 0 9px #d0e2ea;
}
.b-services__image,
.b-services__img{
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
.b-services__image{
    position: relative;
}
.b-services:hover .b-services__image:before{
    content: '';
    border:4px solid #3faecc;
    position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
.b-services__body{
    width: 280px;
    padding-left:20px;
    overflow: hidden;
    height: 135px;
    position: relative;
}
.b-services__body:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255, 255, 0.3)), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top, bottom, rgba(255,255, 255, 0.3), #ffffff);
    background: -moz-linear-gradient(top,  rgba(255,255, 255, 0.3),  #ffffff);
    background: -o-linear-gradient(top,  rgba(255,255, 255, 0.3),  #ffffff);
    background: -ms-linear-gradient(top,  rgba(255,255, 255, 0.3),  #ffffff);
    background: linear-gradient(top, rgba(255,255, 255, 0.3), #ffffff);
}
.b-services:hover .b-services__body{
    height: auto;
}
.b-services:hover .b-services__body:before{
    background: none;
}
.b-services__bottom{
    display:none;
    margin-top: 15px;
}
.b-services:hover .b-services__bottom{
    display:block;
}
.b-services__title{
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'i-font_face_nova-bold';
    color:#000;
    padding-left: 10px;
    margin-bottom: 15px;
    border-left: 4px solid #d5ecf0;
}
.b-services__feedback{
    display:block;
    float: right;
    background: #f7fbfc;
    border:2px solid #d5ecf0;
    color:#26a8c8;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 8px;
    line-height: 26px;
}

/* ../../blocks/b-services/b-services.css end */
/* ../../blocks/b-map/b-map.css begin */
.b-map{
    padding-bottom: 50px;
}
.b-map__title{
    padding: 0 20px 20px;
    color:#26a8c8;
    font-size: 30px;
    font-family: 'i-font_face_nova-bold';
}
.b-map__inner{
    position: relative;
    overflow:hidden;
    z-index:0;
}
.b-map__map{
    position:absolute;
    z-index:0;
    top:0;
    left:0;
    bottom:0;
    right:-470px;
}
.b-map__info{
    position:relative;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    z-index:1;
    margin: 20px;
    width:420px;
    padding: 0 20px;
    box-shadow: 0 0 9px #bbc2c5;
}
.b-map__row{
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
}
.b-map__row:first-child{
    border: none;
}
.b-map__row-title{
    color:#f56d12;
    font-size: 11px;
    text-transform: uppercase;
    font-family: 'i-font_face_nova-bold';
    padding-bottom: 10px;
}
.b-map__phone,
.b-map__time{
    font-size: 24px;
    line-height: 32px;
}
.b-map__index{
    padding-right: 5px;
    color:#8c8c8c;
}
.b-map__time-info{
    color:#8c8c8c;
}
.b-map__address{
    font-size: 15px;
}

/* ../../blocks/b-map/b-map.css end */
/* ../../blocks/b-banner/b-banner.css begin */
.b-banner__link
{
    display:block;
}

/* ../../blocks/b-banner/b-banner.css end */
/* ../../blocks/b-seo/b-seo.css begin */
.b-seo__title
{
    margin: 0;
    font-weight: 400;
    color:#26a8c8;
    font-size: 30px;
    font-family: 'i-font_face_nova-bold';
}
.b-seo__body{
    line-height: 1.3em;
}

/* ../../blocks/b-seo/b-seo.css end */
/* ../../blocks/b-footer/b-footer.css begin */
.b-footer{
    min-width: 980px;
    padding-bottom: 20px;
    overflow: hidden;
}
.b-footer__inner
{
    background: #f8f8f8;
    height: 20px;
    position: relative;
    padding: 30px 40px;
    font-size: 11px;
    line-height: 20px;
    box-shadow: 0 0 0 3px #e9e9e9;
}
.b-footer__contact{
    float:right;
}
.b-footer__logo{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 10px;
    bottom: 10px;
    left:40px;
    display:block;
}
.b-footer__logo-image{
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 60px;
    max-height: 60px;
}
.b-footer__copyright{
    padding: 0 540px 0 70px;
}
.b-footer__phone,
.b-footer__address{
    padding-left: 20px;
}
.b-footer__index{
    padding-right:3px;
    color:#8c8c8c;
}

/* ../../blocks/b-footer/b-footer.css end */
/* ../../blocks/b-fancy/b-fancy.css begin */
.b-fancy
{
    display:none;
}
.b-fancy__inner{
    padding: 40px;
    width:540px;
}
.b-fancy__form{
    margin: 0;
}
.b-fancy__form .b-form__legend{
    color:#26a8c8;
    font-size: 30px;
    line-height: 30px;
    font-family: 'i-font_face_nova-bold';
}
.b-fancy__title{
    margin-bottom:5px;
}
.b-fancy__body{
    padding-bottom:20px;
}
.b-fancy__button{
    float:right;
    border:2px solid #d5ecf0;
    line-height: 36px;
    padding: 0 15px;
    font-size: 14px;
    text-transform: uppercase;
    color:#26a8c8;
    text-decoration: none;
    background: #f7fbfc;
    font-family: 'i-font_face_nova-bold';
}
.fancybox-skin {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.b-fancy__close{
    position:absolute;
    top:13px;
    right:13px;
    width: 19px;
    height: 19px;
    background: url("../../images/design/fancy-close.png") no-repeat top right;
}

/* ../../blocks/b-fancy/b-fancy.css end */
/* ../../libs/clever-bem-lib/i-vendor/__select/i-vendor__select.css begin */
.customSelectContainer {
    display: inline-block;
    cursor: pointer;
    position:relative;
    margin-bottom: 10px;
}
.customSelectText,
.customSelectLeft,
.customSelectRight,
.customSelectBack,
.customSelectScroll,
.customSelectArrow {
	display: block;
}
.customSelectArrow {
	height: 20px;
    padding: 4px 20px 4px 6px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
    outline: none;
    width: 206px;
    border: 1px solid #cccccc;
    position:relative;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
	background-color: #ffffff;
}
.customSelectArrow:before{
	content: '';
	position: absolute;
	bottom:8px;
	right: 5px;
	width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #555555;
}
.customSelectArrow:after{
	content: '';
	position: absolute;
	top:8px;
	right: 5px;
	width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #555555;
}
.customSelectOptions {
	position: absolute;
    z-index:10;
    line-height: 20px;
    left:0;
    top:0;
    color: #555555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
    outline: none;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
	background-color: #ffffff;
}
.customSelectOption {
	display: block;
	padding: 4px 20px 4px 6px;
	border-bottom: 1px solid #d1d1d1;
	width: 206px;
}
.customSelectOption:last-child {
	border-bottom: 0;
}

/* ../../libs/clever-bem-lib/i-vendor/__select/i-vendor__select.css end */
/* ../../libs/clever-bem-lib/b-form/b-form.css begin */
form {
  margin: 0 0 20px;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
}
legend small {
  font-size: 15px;
  color: #999999;
}
.b-form__error-message,
.b-form__errors{
  background-color: #F2DEDE;
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  line-height: 20px;
  color: #b94a48;
}
.b-form__error-message,
.b-form__error{
  padding: 8px;
}
.b-form__error + .b-form__error{
  padding-top:0;
}
.b-form__error-message {
  display: none;
  padding: 15px 20px 15px 30px;
}
/* ../../libs/clever-bem-lib/b-form/b-form.css end */
/* ../../libs/clever-bem-lib/b-form-control/b-form-control.css begin */
label,
input,
button,
select,
textarea {
  font-weight: normal;
  line-height: 20px;
}
label {
  display: block;
  margin-bottom: 5px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]{
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
}
input,
textarea{
  width: 206px;
}
textarea {
  height: auto;
  resize: none;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]{
  outline: none;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0;
  /* IE7 */

  margin-top: 1px \9;
  /* IE8-9 */

  line-height: normal;
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}
select {
  width: 220px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
select[multiple],
select[size] {
  height: auto;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}
.b-form-control_state_error .b-form-control__label,
.b-form-control_state_error .b-form-control__help,
.b-form-control_state_error input,
.b-form-control_state_error select,
.b-form-control_state_error textarea {
  color: #b94a48;
}
.b-form-control_state_error input,
.b-form-control_state_error select,
.b-form-control_state_error textarea {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.b-form-control_state_error input:focus,
.b-form-control_state_error select:focus,
.b-form-control_state_error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
.b-form-control_state_error .b-form-control__prepend .b-form-control__add-on,
.b-form-control_state_error .b-form-control__append .b-form-control__add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}
.b-form-control__help{
  display: block;
  margin-bottom: 10px;
}
.b-form-control__label_from_radio,
.b-form-control__label_from_checkbox {
  min-height: 20px;
  padding-left: 20px;
}
.b-form-control__label_from_radio input[type="radio"],
.b-form-control__label_from_checkbox input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
.b-form-control__append,
.b-form-control__prepend {
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: middle;
  white-space: nowrap;
}
.b-form-control__append input,
.b-form-control__prepend input,
.b-form-control__append select,
.b-form-control__prepend select{
  position: relative;
  margin-bottom: 0;
  *margin-left: 0;
  vertical-align: top;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.b-form-control__append input:focus,
.b-form-control__prepend input:focus,
.b-form-control__append select:focus,
.b-form-control__prepend select:focus{
  z-index: 2;
}
.b-form-control__append .b-form-control__add-on,
.b-form-control__prepend .b-form-control__add-on {
  display: inline-block;
  width: auto;
  height: 20px;
  min-width: 16px;
  padding: 4px 5px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
}
.b-form-control__append .b-form-control__add-on,
.b-form-control__prepend .b-form-control__add-on,
.b-form-control__append .b-form-control__button,
.b-form-control__prepend .b-form-control__button{
  vertical-align: top;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.b-form-control__prepend .b-form-control__add-on,
.b-form-control__prepend .b-form-control__button {
  margin-right: -1px;
}
.b-form-control__prepend .b-form-control__add-on:first-child,
.b-form-control__prepend .b-form-control__button:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.b-form-control__append input,
.b-form-control__append select{
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.b-form-control__append .b-form-control__add-on,
.b-form-control__append .b-form-control__button{
  margin-left: -1px;
}
.b-form-control__append .b-form-control__add-on:last-child,
.b-form-control__append .b-form-control__button:last-child{
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.b-form-control__prepend.b-form-control__append input,
.b-form-control__prepend.b-form-control__append select{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.b-form-control__prepend.b-form-control__append .b-form-control__add-on:first-child,
.b-form-control__prepend.b-form-control__append .b-form-control__button:first-child {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.b-form-control__prepend.b-form-control__append .b-form-control__add-on:last-child,
.b-form-control__prepend.b-form-control__append .b-form-control__button:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

/* ../../libs/clever-bem-lib/b-form-control/b-form-control.css end */
/* ../../blocks/b-form-control/b-form-control.css begin */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]{
  margin-bottom: 20px;
  color: #000;
  padding: 6px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]{
  background-color: #eeeeee;
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.15);
  box-shadow: inset 0 0 4px rgba(0,0,0,0.15);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.b-form-control_state_error .b-form-control__label,
.b-form-control_state_error .b-form-control__help,
.b-form-control_state_error input,
.b-form-control_state_error select,
.b-form-control_state_error textarea {
  color: #000;
}
.b-form-control_state_error input,
.b-form-control_state_error select,
.b-form-control_state_error textarea {
  border:none;
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.15);
  box-shadow: inset 0 0 4px rgba(0,0,0,0.15);
}
.b-form-control_state_error input:focus,
.b-form-control_state_error select:focus,
.b-form-control_state_error textarea:focus {
  border:none;
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.15);
  box-shadow: inset 0 0 4px rgba(0,0,0,0.15);
}
.b-form-control_type_text .b-form-control__input{
    width: 288px;
    font-size: 18px;
}
.b-form-control_type_textarea .b-form-control__textarea{
    width: 520px;
    height: 130px;
    padding:10px;
}
.b-form-control_state_error{
    position:relative;
}
.b-form-control_state_error:before{
    content: '← Заполните это поле';
    position: absolute;
    left: 310px;
    bottom: 20px;
    height: 32px;
    line-height: 32px;
    color:#f56d12;
    font-size: 15px;
}

/* ../../blocks/b-form-control/b-form-control.css end */
/* ../../libs/clever-bem-lib/b-form-control/_type/b-form-control_type_text.css begin */
.b-form-control_type_text
{
}

/* ../../libs/clever-bem-lib/b-form-control/_type/b-form-control_type_text.css end */
/* ../../libs/clever-bem-lib/b-form-control/_type/b-form-control_type_checkbox.css begin */
.b-form-control_type_checkbox
{
}

/* ../../libs/clever-bem-lib/b-form-control/_type/b-form-control_type_checkbox.css end */
/* ../../libs/clever-bem-lib/b-form-control/_type/b-form-control_type_textarea.css begin */
.b-form-control_type_textarea
{
}

/* ../../libs/clever-bem-lib/b-form-control/_type/b-form-control_type_textarea.css end */
/* ../../libs/clever-bem-lib/b-scripts/b-scripts.css begin */
.b-scripts
{
    display: none;
    position: absolute;
}

/* ../../libs/clever-bem-lib/b-scripts/b-scripts.css end */
