.b-map{
    padding-bottom: 50px;
}
.b-map__title{
    padding: 0 20px 20px;
    color:#26a8c8;
    font-size: 30px;
    font-family: 'i-font_face_nova-bold';
}
.b-map__inner{
    position: relative;
    overflow:hidden;
    z-index:0;
}
.b-map__map{
    position:absolute;
    z-index:0;
    top:0;
    left:0;
    bottom:0;
    right:-470px;
}
.b-map__info{
    position:relative;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    z-index:1;
    margin: 20px;
    width:420px;
    padding: 0 20px;
    box-shadow: 0 0 9px #bbc2c5;
}
.b-map__row{
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
}
.b-map__row:first-child{
    border: none;
}
.b-map__row-title{
    color:#f56d12;
    font-size: 11px;
    text-transform: uppercase;
    font-family: 'i-font_face_nova-bold';
    padding-bottom: 10px;
}
.b-map__phone,
.b-map__time{
    font-size: 24px;
    line-height: 32px;
}
.b-map__index{
    padding-right: 5px;
    color:#8c8c8c;
}
.b-map__time-info{
    color:#8c8c8c;
}
.b-map__address{
    font-size: 15px;
}
