select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]{
  margin-bottom: 20px;
  color: #000;
  padding: 6px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]{
  background-color: #eeeeee;
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.15);
  box-shadow: inset 0 0 4px rgba(0,0,0,0.15);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.b-form-control_state_error .b-form-control__label,
.b-form-control_state_error .b-form-control__help,
.b-form-control_state_error input,
.b-form-control_state_error select,
.b-form-control_state_error textarea {
  color: #000;
}
.b-form-control_state_error input,
.b-form-control_state_error select,
.b-form-control_state_error textarea {
  border:none;
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.15);
  box-shadow: inset 0 0 4px rgba(0,0,0,0.15);
}
.b-form-control_state_error input:focus,
.b-form-control_state_error select:focus,
.b-form-control_state_error textarea:focus {
  border:none;
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.15);
  box-shadow: inset 0 0 4px rgba(0,0,0,0.15);
}
.b-form-control_type_text .b-form-control__input{
    width: 288px;
    font-size: 18px;
}
.b-form-control_type_textarea .b-form-control__textarea{
    width: 520px;
    height: 130px;
    padding:10px;
}
.b-form-control_state_error{
    position:relative;
}
.b-form-control_state_error:before{
    content: '← Заполните это поле';
    position: absolute;
    left: 310px;
    bottom: 20px;
    height: 32px;
    line-height: 32px;
    color:#f56d12;
    font-size: 15px;
}
