.b-header
{
    background:#032241;
    height: 100px;
    padding-top:20px;
    min-width: 980px;
    position: relative;
}
.b-header:after,
.b-header:before{
    content: '';
    position: absolute;
    z-index:0;
    top: 0;
    bottom: 0;
    right: 0;
}
.b-header:after{
    left: 0;
    min-width: 980px;
    background: url(../../images/design/header-bg.jpg) no-repeat top center;
}
.b-header:before{
    left:50%;
    background: #04152f;
}
.b-header__inner{
    position: relative;
    z-index:1;
    background: url(../../images/design/header.jpg) no-repeat top center;
    height: 100px;
}
.b-header__contact{
    float:left;
    padding: 25px 0 25px 40px;
}
.b-header__feedback-block{
    float:right;
    padding: 30px 40px;
    text-align: right;
}
.b-header__logo-block{
    padding: 0 300px;
}
.b-header__logo{
    display:block;
    height: 100px;
    position:relative;
}
.b-header__logo-image{
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 100px;
}
.b-header__phone{
    color:#fff;
    font-size: 24px;
}
.b-header__index{
    color:#26a8c8;
    padding-right:5px;
}
.b-header__contact-info{
    color:#fff;
    padding-top:3px;
}
.b-header__feedback{
    display:block;
    border:2px solid #26a8c8;
    line-height: 36px;
    padding: 0 15px;
    text-transform: uppercase;
    color:#fff;
    text-decoration: none;
    font-family: 'i-font_face_nova-bold';
}
