@font-face {
    font-family: 'i-font_face_nova-bold';
    src: local('i-font_face_nova-bold');
    src: url('i-font_face_nova-bold.woff'),
         url('i-font_face_nova-bold.ttf');
}

.i-font_face_nova-bold
{
    font-family: 'i-font_face_nova-bold';
}
