.b-fancy
{
    display:none;
}
.b-fancy__inner{
    padding: 40px;
    width:540px;
}
.b-fancy__form{
    margin: 0;
}
.b-fancy__form .b-form__legend{
    color:#26a8c8;
    font-size: 30px;
    line-height: 30px;
    font-family: 'i-font_face_nova-bold';
}
.b-fancy__title{
    margin-bottom:5px;
}
.b-fancy__body{
    padding-bottom:20px;
}
.b-fancy__button{
    float:right;
    border:2px solid #d5ecf0;
    line-height: 36px;
    padding: 0 15px;
    font-size: 14px;
    text-transform: uppercase;
    color:#26a8c8;
    text-decoration: none;
    background: #f7fbfc;
    font-family: 'i-font_face_nova-bold';
}
.fancybox-skin {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.b-fancy__close{
    position:absolute;
    top:13px;
    right:13px;
    width: 19px;
    height: 19px;
    background: url(../../images/design/fancy-close.png) no-repeat top right;
}
