.b-services
{
    width: 440px;
    height: 145px;
    margin: 10px 10px 30px;
    position: relative;
    z-index:0;
    font-size: 13px;
    color:#8c8c8c;
    line-height: 20px;
}
.b-services__inner{
    position:absolute;
    top: 0;
    left: -20px;
    right: 20px;
    padding:20px 20px 10px;
}
.b-services:hover{
    z-index:1;
}
.b-services:hover .b-services__inner{
    background: #f7fbfc;
    background: rgba(247, 251, 252, 0.9);
    box-shadow: 0 0 9px #d0e2ea;
}
.b-services__image,
.b-services__img{
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
.b-services__image{
    position: relative;
}
.b-services:hover .b-services__image:before{
    content: '';
    border:4px solid #3faecc;
    position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
.b-services__body{
    width: 280px;
    padding-left:20px;
    overflow: hidden;
    height: 135px;
    position: relative;
}
.b-services__body:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255, 255, 0.3)), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top, bottom, rgba(255,255, 255, 0.3), #ffffff);
    background: -moz-linear-gradient(top,  rgba(255,255, 255, 0.3),  #ffffff);
    background: -o-linear-gradient(top,  rgba(255,255, 255, 0.3),  #ffffff);
    background: -ms-linear-gradient(top,  rgba(255,255, 255, 0.3),  #ffffff);
    background: linear-gradient(top, rgba(255,255, 255, 0.3), #ffffff);
}
.b-services:hover .b-services__body{
    height: auto;
}
.b-services:hover .b-services__body:before{
    background: none;
}
.b-services__bottom{
    display:none;
    margin-top: 15px;
}
.b-services:hover .b-services__bottom{
    display:block;
}
.b-services__title{
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'i-font_face_nova-bold';
    color:#000;
    padding-left: 10px;
    margin-bottom: 15px;
    border-left: 4px solid #d5ecf0;
}
.b-services__feedback{
    display:block;
    float: right;
    background: #f7fbfc;
    border:2px solid #d5ecf0;
    color:#26a8c8;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 8px;
    line-height: 26px;
}
