.b-footer{
    min-width: 980px;
    padding-bottom: 20px;
    overflow: hidden;
}
.b-footer__inner
{
    background: #f8f8f8;
    height: 20px;
    position: relative;
    padding: 30px 40px;
    font-size: 11px;
    line-height: 20px;
    box-shadow: 0 0 0 3px #e9e9e9;
}
.b-footer__contact{
    float:right;
}
.b-footer__logo{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 10px;
    bottom: 10px;
    left:40px;
    display:block;
}
.b-footer__logo-image{
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 60px;
    max-height: 60px;
}
.b-footer__copyright{
    padding: 0 540px 0 70px;
}
.b-footer__phone,
.b-footer__address{
    padding-left: 20px;
}
.b-footer__index{
    padding-right:3px;
    color:#8c8c8c;
}
